.current-weather-container {
  margin-bottom: 40px;
  padding: 0 20px;
}

.error-text {
  background-color: #F0BBBB;
  border: 1px solid #F00;
  border-radius: 2px;
  color: black;
  margin-bottom: 40px;
  padding: 5px 12px
}

.light-text {
  color: #888;
}

td.label-cell {
  color: #666;
  padding-right: 10px;
}